@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .custom-border {
    border-style: solid;
    border-image-source: linear-gradient(
      270deg,
      #252b4d 0%,
      #252b4d 50%,
      #161a2d 100%
    );
    border-image-slice: 1;
    border-bottom-width: 2px;
    border-top-width: 2px;
  }
}

body {
  font-family: "Josefin Sans", serif;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b2039;
}

.ant-carousel .slick-prev {
  margin-left: -40px;
  font-size: 20px;
  color: white;
}
.ant-carousel .slick-next {
  margin-right: -40px;
  font-size: 20px;
  color: white;
}

.ant-carousel .slick-track {
  display: flex;
  /* gap: 30px; */
}
#item-carosel {
  width: 100%;
}

.ant-steps-item {
  width: 25%;
}
.ant-steps-item-tail {
  margin-inline: 0 !important;
  display: block !important;
}
.ant-steps-item-tail::after {
  background-color: #252b4dbf !important;
  width: 100%;
}
.ant-steps-icon-dot {
  background: #252b4dbf !important;
  border: 2px solid #3bc8e7 !important;
  width: 10px !important;
  height: 10px !important;
  top: 50%;
  transform: translateY(-40%);
  transition: 0.3s ease-in-out;
}
.ant-steps-item-active .ant-steps-icon-dot {
  border-color: white !important;
}

#image-cover-step {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.ant-steps-item-active #image-cover-step {
  opacity: 1;
  visibility: visible;
}

.ant-steps-item-content {
  width: 100% !important;
  display: flex;
  justify-content: flex-start;
}
.ant-steps-item-tail {
  background-color: #252b4dbf;
}
